#* @vtlvariable name="books" type="java.util.List<id.or.jisedu.repo.Book>" *#
<html>
<title>Displaying $books.size() books</title>
<link rel="stylesheet" href="/style.css">
<body>

    #parse("/velocity/book/navbar.vm")

<div class="content">

    <div class="btn-group">
        #if($auth)
            <button id="btn-new" class="btn">Add New Book</button>
            #if($user.admin == true)
                <button id="btn-test" class="btn">Add Test Book</button>
            #end
        #end
    </div>

    #if($books.isEmpty())
        <div>
            <h1>This page has no books!</h1>
        </div>
    #else
        #foreach($book in $books)

            <!-- onclick="location.href='/books/$book.id';" -->

            <div class="square">
                <div class="square-top">
                    <a class="title left">$book.title</a>
                    <a class="title right">$book.authors.get(0)</a>
                </div>

                <div class="square-content">

                    <a class="btn btn-absolute" target="_blank" href="/books/$book.id">More Info</a>

                    <ul>
                        <li><span class="book-desc">Authors:</span>
                            #foreach($author in $book.authors)
                                <a href="https://isbndb.com/author/$author">$author</a>,
                            #end
                        </li>
                        #if($book.datePublished)
                            <li><span class="book-desc">Publish Date:</span> $book.datePublished </li>
                        #elseif($book.publishDate)
                            <li><span class="book-desc">Publish Date:</span> $book.publishDate</li>
                        #end
                        #if($book.overview)
                            <li class="book-overview">$book.overview</li>
                        #end
                        #if($book.synopsys)
                            <li class="book-overview">$book.synopsys</li>
                        #end
                    </ul>
                </div>
            </div>

        #end
    #end
    <div class="btn-group">
        #if($prev)
            <a href=$prevpage class="btn">Prev Page</a>
        #end
        #if($next)
            <a href=$nextpage class="btn">Next Page</a>
        #end
    </div>
</div>

<script src="/main.js"></script>

</body>
</html>