<form method="post" action="/new-book-manual" target="_blank" id="manual_form" onsubmit="submit()">
    <script>
        function onsubmit() {
            document.getElementById('manual_form').submit();

            function timer() {
                document.getElementById("manual_form").reset();
            }

            var timeout = setTimeout(timer, 5000);

        }
    </script>
    <input type="text" name="title" required placeholder="Title" autocomplete="off">

    <input type="text" name="title_long" placeholder="Title (long)" autocomplete="off">

    <input type="text" name="isbn" placeholder="ISBN" autocomplete="off">

    <input type="text" name="isbn13" placeholder="ISBN-13" autocomplete="off">

    <input type="text" name="dewey_decimal" placeholder="Dewey Decimal" autocomplete="off">

    <input type="text" name="format" placeholder="Format" autocomplete="off">

    <input type="text" name="publisher" placeholder="Publisher" autocomplete="off">

    <input list="language" name="language" placeholder="Language">
    <datalist id="language">
        <option value="Arabic">
        <option value="English">
        <option value="French">
        <option value="Indonesian">
        <option value="Mandarin">
        <option value="Spanish">
        <option value="Urdu">
    </datalist>

    <input type="text" name="date_published" placeholder="Date Published" autocomplete="off">

    <input type="text" name="edition" placeholder="Edition" autocomplete="off">

    <input type="text" name="pages" placeholder="Pages" autocomplete="off">

    <input type="text" name="binding" placeholder="Binding" autocomplete="off">

    <input type="text" name="dimensions" placeholder="Dimensions" autocomplete="off">

    <input type="text" name="overview" placeholder="Overview" autocomplete="off">

    <input type="text" name="excerpt" placeholder="Excerpt" autocomplete="off">

    <input type="text" name="synopsys" placeholder="Synopsys" autocomplete="off">

    <input type="text" name="author" required placeholder="Authors (Seperate with comma)" autocomplete="off">

    <input type="text" name="subjects" placeholder="Subjects (Seperate with comma)" autocomplete="off">

    <div>
        <button class="btn">Submit</button>
    </div>
</form>