<html>
<head>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="content">
    <h1>Add new book to repository</h1>
    <a class="btn btn-absolute" href="/books">Go Back</a>

    <div class="ISBN form">
        <h2>Via ISBN</h2>
        #parse("/velocity/new/ISBN-Book-Entry.vm")
    </div>

    <p class="separator">OR</p>

    <div class="manual form">
        <h2>Manual</h2>
        #parse("/velocity/new/Manual-Entry-Book.vm")
    </div>

</div>
</body>
</html>