body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 98vh;
}

.container {
    padding: 5em 7em;
    border: 1px solid gainsboro;
    background: whitesmoke;
    border-radius: 5px;
    text-align: center;
}

input {
    display: block;
    margin: auto;
    margin-bottom: 1em;
    padding: 0.5em;
    width: 100%;
    border-radius: 4px;
    border: 1px solid gainsboro;
}

.links {
    width: 20em;
    display: flex;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
    color: #1b6bfd;
}

.btn {
    cursor: pointer;
    margin: 2em auto;
    padding: 0.3em 2em;
    border: 1px solid gainsboro;
    border-radius: 4px;
    background: white;
    color: #2f2f2f;
}

.btn:hover {
    background: gainsboro;
}

.login input {
    height: 3em;
    font-size: 1em;
    border-radius: 10px;
    padding: 0 0 0 25px;
}

button.enter {
    color: #212121;
    height: 2.5em;
    font-size: 1em;
    width: 60%;
}

*:focus {
    outline-width: 0;
}