@import url('https://fonts.googleapis.com/css?family=Arvo');

body {
    background: #f5f5f5;
    font-family: 'Arvo', serif;
    margin: 0;
}

.content {
    padding: 2em 10em;
    text-align: center;
}

.btn-group {
    text-align: center;
    display: block;
    width: 40%;
    margin: auto;
    background: whitesmoke;
    padding: 0.6em 4em;
    border-radius: 4px;
}

.btn {
    border: 0;
    padding: 0.8em;
    border-radius: 2px;
    color: white !important;
    font-weight: 700;
    background: #03d226;
    cursor: pointer;
}

.btn:hover {
    background: #07ff0f;
}

a.btn {
    padding: 0.5em;
    text-decoration: none;
}

.btn-absolute {
    position: absolute;
    right: 10%;
}

li {
    list-style-type: none;
    padding: 0;
    margin-top: 1em;
}

a {
    color: #dcdcdc;
}

/*
    NavBar
*/

.navbar {
    height: 50px;
    background: #212121;
    padding: 5px;
    display: flex;
}

.nav {
    display: flex;
    align-items: center;
}

.nav-left {
    margin-right: auto;
}

.nav-right {
    margin-left: auto;
}

.nav-item {
    margin: 0 1em;
}

.nav .btn {
    padding: 0.5em 1em;
}

.nav .search {
    padding: 0.5em 1em;
    position: relative;
    top: 25px;
    width: 250px;
    background: #03d226;
    font-size: 16px;
    margin-bottom: 50px;
}

.nav .search::placeholder {
    color: white;
    font-style: italic;
}

.nav .filter {
    padding: 0.5em 1em;
    position: relative;
    top: 25px;
    width: 100px;
    background: #03d226;
    height: 35px;
    font-size: 16px;
    margin-bottom: 50px;
    border-radius: 1px;
}

/*
    Books
*/

.square {
    margin: 2em 0;
    background: #3A3A3C;
    color: #f7f7f7;
    border-radius: 3px;
}

.square-top {
    padding: 1em 2em;
    display: flex;
    cursor: pointer;
}

.title {
    text-decoration: none;
    font-weight: bold;
}

.right {
    margin-left: auto;
}

.left {
    justify-content: flex-start;
}

.title.left:before {
    content: "Title:";
    margin-right: 1em;
    opacity: 0.8;
}

.title.right:before {
    content: "Author: ";
    opacity: 0.7;
    margin-right: 1em;
}

.square-content {
    position: relative;
    text-align: left;
    background: #232323;
    border-radius: 0 0 4px 4px;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: all 1s ease-out;
}

.square-content.active {
    max-height: 20em;
    opacity: 1;
}

.square-content ul {
    margin-top: 0;
    padding: 2em;
}

.square-content a.btn {
    background: #1d1d1d;
    top: 10%;
}

.square-content a.btn:hover {
    background: #151515;
}

.book-desc {
    font-weight: 700;
}

.book-overview {
    margin-bottom: 2em;
}

/*
    Book
*/

.book table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    color: #2d2d2d;
}

.book td, .book th {
    align-items: center;
    font-size: 20px;
    text-align: left;
    padding: 5px 20px 5px 5px;
}

.book tr {
    border-bottom: 1em solid #ffffff00;
}

.book a {
    color: inherit;
    text-decoration: none;
}

.book a:hover {
    color: white;
}

.author:not(:last-child):after, .subject:not(:last-child):after {
    content: ",";
}

/*
    Input
*/

.form {
    text-align: center;
    width: 75%;
    margin: 5em auto;
    background: white;
    padding: 1em;
    border-radius: 10px;
}

.separator {
    font-weight: 800;
    font-size: 1.3em;
}

.separator:after, .separator:before {
    display: inline-block;
    content: "";
    border-top: .2rem solid black;
    width: 4rem;
    margin: 0 1rem;
    transform: translateY(-0.4rem);
}

.manual form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.manual input[type=text], input[type=text].isbn-txt {
    width: 45%;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid gainsboro;
    font-size: 16px;
    background: white no-repeat 10px 10px;
    padding: 12px 20px 5px 5px;
    margin-bottom: 50px;
}

input.isbn-txt {
    width: 45%;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid gainsboro;
    font-size: 16px;
    background: white no-repeat 10px 10px;
    padding: 12px 20px 5px 5px;
    margin-bottom: 20px;
}

input[list=language] {
    width: 45%;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid gainsboro;
    font-size: 16px;
    background: white no-repeat 10px 10px;
    padding: 12px 20px 5px 5px;
    margin-bottom: 50px;
}

.manual div {
    width: 100%;
}